*{
    box-sizing: border-box; 
}
td,
th {
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.hidden-row {
    display: none;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

.compare-btn {
    background-color: #b50000;
    color: white;
    width: 15%;
    padding: 8px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.compare-btn:hover {
    background-color: #8d0000;
}

.table-container1 {
    overflow-x: auto;
    border-collapse: collapse;

    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px 14px;
    text-align:center;
    border: 1px solid #eee;
}

th {
    background-color: #b50000;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
}

td:first-child,
th:first-child {
    text-align: center;
}
.tabolable th{
    background-color: rgb(236, 26, 26);    
    color: white;

}

/* .goal-cell {
    background-color: #f2f2f2;
    font-weight: bold;
}


.rotated {
    transform: rotate(90deg);
}

.nested-rows {
    display: none;
    background-color: #fdfdfd;
}

.nested-rows td {
    padding-left: 40px;
}

.visible {
    display: table-row;
} */

@media (max-width: 768px) {

    th,
    td {
        font-size: 12px;
        padding: 8px;
    }

    .toggle-btn {
        font-size: 14px;
    }
}
.btn-search1{
    background-color: rgb(236, 26, 26); 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.btn-search1:hover{
    background-color: #a50202;
}